@orange: 		#cf7657;
@light-orange:	lighten(@orange, 30%);

#grid {
	.grid-1-sm,
	.grid-2-sm,
	.grid-3-sm,
	.grid-4-sm,
	.grid-5-sm,
	.grid-6-sm,
	.grid-7-sm,
	.grid-8-sm,
	.grid-9-sm,
	.grid-10-sm,
	.grid-11-sm,
	.grid-12-sm {
		background: @light-orange;
		border: 1px @orange solid;
		min-height: 80px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
	}
}

#grid-offset {
	.row {
		background: #c7ddf0;
		border: 1px #96b7d4 solid;
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}



/*--- Headings ---*/

section[id] > h1,
section[id] > h2 {
	color: @orange;
	font-family: Georgia;
}

.example {
	border: 1px #ccc solid;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 48px 20px 20px 20px;
	position: relative;
	&:before {
		background-color: #f0f0f0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		color: #666;
		content: 'example(s)';
		font-size: 12px;
		font-weight: bold;
		left: 0;
		line-height: 12px;
		padding: 8px 10px;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0;
	}
}

h1 + .example,
h2 + .example {
	margin-top: -10px;
}