@import 'variables.less';

@orange: 		#cf7657;
@light-orange:	lighten(@orange, 30%);

#grid {
	.row {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.grid-sm-1,
	.grid-sm-2,
	.grid-sm-3,
	.grid-sm-4,
	.grid-sm-5,
	.grid-sm-6,
	.grid-sm-7,
	.grid-sm-8,
	.grid-sm-9,
	.grid-sm-10,
	.grid-sm-11,
	.grid-sm-12 {
		background: @light-orange;
		border: 1px @orange solid;
		min-height: 100px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-align: center;
	}
}

#grid-offset {
	.row {
		background: #c7ddf0;
		border: 1px #96b7d4 solid;
	}
}



/*--- Headings ---*/

.example {
	border: 1px #ccc solid;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 38px 20px 20px 20px;
	position: relative;
	&:before {
		background-color: #f0f0f0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		color: #666;
		content: 'example(s)';
		font-size: 12px;
		font-weight: bold;
		left: 0;
		line-height: 12px;
		padding: 8px 10px;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		top: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: @color-base;
		font-family: @font-stack;
	}
}

h1 + .example,
h2 + .example {
	margin-top: -10px;
}



#buttons label {
	margin-top: 10px;
}



.text-uppercase,
.text-lowercase,
.text-capitalize {
	code {
		text-transform: none;
	}
}



/*--- Navigation ---*/

nav {
	ul {
		li {
			font-size: 0.9em;
			line-height: 1.5em;
			padding-left: 8px;
			&.nav-top-level {
				font-size: 1em;
				font-weight: 600;
				padding-left: 0;
			}
			& + li.nav-top-level {
				margin-top: 1em;
			}
		}
	}
}