@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);

@grid-width:			100% / 12;
@media-sm-min:			768px;
@media-md-min:			996px;
@media-lg-min:			1224px;

@border-radius:			3px;
@border-color:			#ddd;

@color-base:			#333;
@color-link:			#3c6ec5;
@color-link-hover:		darken(@color-link, 25%);
@color-link-bg:			#c4e3ef;
@color-highlight:		#185bcf;
@color-highlight-bg:	#f8decb;
@color-success:			#3cc549;
@color-success-bg:		#c4efc9;
@color-warning:			#e5c845;
@color-warning-bg:		#f8f0cb;
@color-danger:			#e54b45;
@color-danger-bg:		#f8cdcb;

@font-stack:			'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-stack-monospace:	'Lucida Sans Typewriter','Lucida Console',Monaco,'Bitstream Vera Sans Mono',monospace;
@font-base-size:		14px;

@table-padding-v:		4px;
@table-padding-h:		6px;
@table-stripe-color:	#f9f9f9;

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	border-top-right-radius:	@topright;
	border-bottom-right-radius:	@bottomright;
	border-bottom-left-radius:	@bottomleft;
	border-top-left-radius:		@topleft;	
}

.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}