@grid-1: 			100% / 12;

@border-radius:		3px;

@color-link:		#3c6ec5;
@color-link-hover:	darken(@color-link, 25%);
@color-highlight:	#185bcf;
@color-success:		#3cc549;
@color-warning:		#e5c845;
@color-danger:		#e54b45;

.border-radius(@radius) {
	border-radius:		@radius;	
	background-clip:	padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	border-top-right-radius:	@topright;
	border-bottom-right-radius:	@bottomright;
	border-bottom-left-radius:	@bottomleft;
	border-top-left-radius:		@topleft;	
	background-clip:			padding-box; 
}

.box-shadow (@string) {
	-webkit-box-shadow:	@string;
	-moz-box-shadow:	@string;
	box-shadow:			@string;
}