@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
#grid .grid-1-sm,
#grid .grid-2-sm,
#grid .grid-3-sm,
#grid .grid-4-sm,
#grid .grid-5-sm,
#grid .grid-6-sm,
#grid .grid-7-sm,
#grid .grid-8-sm,
#grid .grid-9-sm,
#grid .grid-10-sm,
#grid .grid-11-sm,
#grid .grid-12-sm {
  background: #f1d7ce;
  border: 1px #cf7657 solid;
  min-height: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
#grid-offset .row {
  background: #c7ddf0;
  border: 1px #96b7d4 solid;
  margin-bottom: 10px;
}
#grid-offset .row:last-of-type {
  margin-bottom: 0;
}
/*--- Headings ---*/
.example {
  border: 1px #ccc solid;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 48px 20px 20px 20px;
  position: relative;
}
.example:before {
  background-color: #f0f0f0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #666;
  content: 'example(s)';
  font-size: 12px;
  font-weight: bold;
  left: 0;
  line-height: 12px;
  padding: 8px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
.example h1,
.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  color: #333333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 + .example,
h2 + .example {
  margin-top: -10px;
}
#buttons label {
  margin-top: 10px;
}
