.grid-1-sm,
.grid-2-sm,
.grid-3-sm,
.grid-4-sm,
.grid-5-sm,
.grid-6-sm,
.grid-7-sm,
.grid-8-sm,
.grid-9-sm,
.grid-10-sm,
.grid-11-sm,
.grid-12-sm {
  background: #f1d7ce;
  border: 1px #cf7657 solid;
  min-height: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
/*--- Headings ---*/
section[id] {
  margin-top: 30px;
}
section[id] > h1:first-child,
section[id] > h2:first-child {
  color: #cf7657;
}
