#grid .grid-1-sm,
#grid .grid-2-sm,
#grid .grid-3-sm,
#grid .grid-4-sm,
#grid .grid-5-sm,
#grid .grid-6-sm,
#grid .grid-7-sm,
#grid .grid-8-sm,
#grid .grid-9-sm,
#grid .grid-10-sm,
#grid .grid-11-sm,
#grid .grid-12-sm {
  background: #f1d7ce;
  border: 1px #cf7657 solid;
  min-height: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
#grid-offset .row {
  background: #c7ddf0;
  border: 1px #96b7d4 solid;
  margin-bottom: 10px;
}
#grid-offset .row:last-of-type {
  margin-bottom: 0;
}
/*--- Headings ---*/
section[id] > h1,
section[id] > h2 {
  color: #cf7657;
  font-family: Georgia;
}
.example {
  border: 1px #ccc solid;
  margin-bottom: 30px;
  padding: 20px;
}
h1 + .example,
h2 + .example {
  margin-top: -20px;
}
