@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
#grid .row {
  margin-bottom: 10px;
}
#grid .row:last-of-type {
  margin-bottom: 0;
}
#grid .grid-sm-1,
#grid .grid-sm-2,
#grid .grid-sm-3,
#grid .grid-sm-4,
#grid .grid-sm-5,
#grid .grid-sm-6,
#grid .grid-sm-7,
#grid .grid-sm-8,
#grid .grid-sm-9,
#grid .grid-sm-10,
#grid .grid-sm-11,
#grid .grid-sm-12 {
  background: #f1d7ce;
  border: 1px #cf7657 solid;
  min-height: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
#grid-offset .row {
  background: #c7ddf0;
  border: 1px #96b7d4 solid;
}
/*--- Headings ---*/
.example {
  border: 1px #ccc solid;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 48px 20px 20px 20px;
  position: relative;
}
.example:before {
  background-color: #f0f0f0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #666;
  content: 'Example';
  font-size: 12px;
  font-weight: bold;
  left: 0;
  line-height: 12px;
  padding: 8px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
.example h1,
.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.example .code-sample {
  background-color: #f0f0f0;
  border-top: 1px #ccc solid;
  border-radius: 0 0 4px 4px;
  font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.85em;
  margin: 20px -20px -20px -20px;
  padding: 42px 20px 20px 20px;
  position: relative;
  white-space: pre-wrap;
}
.example .code-sample:before {
  background-color: #ccc;
  color: #666;
  content: 'Example HTML';
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
h1 + .example,
h2 + .example {
  margin-top: -10px;
}
#buttons label {
  margin-top: 10px;
}
.text-uppercase code,
.text-lowercase code,
.text-capitalize code {
  text-transform: none;
}
/*--- Navigation ---*/
nav ul li {
  font-size: 0.9em;
  line-height: 1.5em;
  padding-left: 8px;
}
nav ul li.nav-top-level {
  font-size: 1em;
  font-weight: 600;
  padding-left: 0;
}
nav ul li + li.nav-top-level {
  margin-top: 1em;
}
/*--- Syntax Highlighting ---*/
.stx-html-tag {
  color: #2f9f3a;
}
.stx-html-property {
  color: #5e3fd4;
}
.stx-html-string {
  color: #de4292;
}
